# PySpark Koans - Test Notebook

This notebook contains  all 59 koans for testing and verification.

**Note**: These koans are designed to work with the browser-based pandas shim. To run with real PySpark, you'll need a Spark environment.

## Categories:
- **Koans 1-30**: PySpark Basics and Operations
- **Koans 101-110**: Delta Lake
- **Koans 201-210**: Unity Catalog
- **Koans 301-310**: Pandas API on Spark

In [ ]:
# Initialize PySpark (uncomment if running with real Spark)
# from pyspark.sql import SparkSession
# from pyspark.sql.functions import *
# from delta import *
#
# spark = SparkSession.builder \
#     .appName("PySpark Koans") \
#     .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
#     .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
#     .getOrCreate()

# For browser-based version, spark is already initialized
# This notebook assumes you have PySpark available

print("‚úì Environment ready")

## Basics

In [ ]:
# Koan 1: Creating a DataFrame
# Category: Basics

# Setup
data = [("Alice", 34), ("Bob", 45), ("Charlie", 29)]
columns = ["name", "age"]

# Exercise (fill in the blanks)
# Create a DataFrame from the data and columns
df = spark.___(___, ___)

# The DataFrame should have 3 rows
assert df.count() == 3, f"Expected 3 rows, got {df.count()}"
print("‚úì DataFrame created with correct row count")

# The DataFrame should have 2 columns
assert len(df.columns) == 2, f"Expected 2 columns, got {len(df.columns)}"
print("‚úì DataFrame has correct number of columns")

print("\\nüéâ Koan complete! You've learned to create a DataFrame.")

In [ ]:
# Koan 2: Selecting Columns
# Category: Basics

# Setup
data = [("Alice", 34, "NYC"), ("Bob", 45, "LA"), ("Charlie", 29, "Chicago")]
df = spark.createDataFrame(data, ["name", "age", "city"])

# Exercise (fill in the blanks)
# Select only the 'name' and 'city' columns
result = df.___("name", "___")

# Result should have exactly 2 columns
assert len(result.columns) == 2, f"Expected 2 columns, got {len(result.columns)}"
print("‚úì Correct number of columns selected")

# Result should contain 'name' and 'city'
assert "name" in result.columns, "Missing 'name' column"
assert "city" in result.columns, "Missing 'city' column"
print("‚úì Correct columns selected")

print("\\nüéâ Koan complete! You've learned to select columns.")

In [ ]:
# Koan 3: Filtering Rows
# Category: Basics

# Setup
data = [("Alice", 34), ("Bob", 45), ("Charlie", 29), ("Diana", 52)]
df = spark.createDataFrame(data, ["name", "age"])

# Exercise (fill in the blanks)
# Filter to only include people over 35
from pyspark.sql.functions import col

result = df.___(col("age") ___ 35)

# Should have 2 people over 35
assert result.count() == 2, f"Expected 2 rows, got {result.count()}"
print("‚úì Correct number of rows filtered")

# Collect and verify
rows = result.collect()
ages = [row["age"] for row in rows]
assert all(age > 35 for age in ages), "Some ages are not > 35"
print("‚úì All remaining rows have age > 35")

print("\\nüéâ Koan complete! You've learned to filter rows.")

In [ ]:
# Koan 4: Adding Columns
# Category: Basics

# Setup
data = [("Alice", 34), ("Bob", 45), ("Charlie", 29)]
df = spark.createDataFrame(data, ["name", "age"])

# Exercise (fill in the blanks)
# Add a new column 'age_in_months' that multiplies age by 12
from pyspark.sql.functions import col

result = df.___("age_in_months", col("___") * 12)

# Should still have 3 rows
assert result.count() == 3
print("‚úì Row count unchanged")

# Should now have 3 columns
assert len(result.columns) == 3, f"Expected 3 columns, got {len(result.columns)}"
print("‚úì New column added")

# Check calculation is correct
first_row = result.filter(col("name") == "Alice").collect()[0]
assert first_row["age_in_months"] == 408, f"Expected 408, got {first_row['age_in_months']}"
print("‚úì Calculation is correct (34 * 12 = 408)")

print("\\nüéâ Koan complete! You've learned to add columns.")

In [ ]:
# Koan 5: Grouping and Aggregating
# Category: Basics

# Setup
data = [
    ("Sales", "Alice", 5000),
    ("Sales", "Bob", 4500),
    ("Engineering", "Charlie", 6000),
    ("Engineering", "Diana", 6500),
    ("Engineering", "Eve", 5500)
]
df = spark.createDataFrame(data, ["department", "name", "salary"])

# Exercise (fill in the blanks)
# Group by department and calculate average salary
from pyspark.sql.functions import avg, round, col

result = df.___("department").agg(
    round(___("salary"), 2).alias("avg_salary")
)

# Should have 2 departments
assert result.count() == 2, f"Expected 2 groups, got {result.count()}"
print("‚úì Correct number of groups")

# Check Engineering average (6000 + 6500 + 5500) / 3 = 6000
eng_row = result.filter(col("department") == "Engineering").collect()[0]
assert eng_row["avg_salary"] == 6000.0, f"Expected 6000.0, got {eng_row['avg_salary']}"
print("‚úì Engineering average salary is correct")

print("\\nüéâ Koan complete! You've learned to group and aggregate.")

In [ ]:
# Koan 6: Dropping Columns
# Category: Basics

# Setup
data = [("Alice", 34, "NYC", "F"), ("Bob", 45, "LA", "M")]
df = spark.createDataFrame(data, ["name", "age", "city", "gender"])

# Exercise (fill in the blanks)
# Drop the 'gender' column
result = df.___("gender")

assert "gender" not in result.columns, "gender column should be dropped"
assert len(result.columns) == 3, f"Expected 3 columns, got {len(result.columns)}"
print("‚úì Dropped gender column")

# Drop multiple columns
result2 = df.___("city", "gender")
assert len(result2.columns) == 2, f"Expected 2 columns, got {len(result2.columns)}"
print("‚úì Dropped multiple columns")

print("\\nüéâ Koan complete! You've learned to drop columns.")

In [ ]:
# Koan 7: Distinct Values
# Category: Basics

# Setup
data = [("Alice", "NYC"), ("Bob", "LA"), ("Alice", "NYC"), ("Charlie", "NYC")]
df = spark.createDataFrame(data, ["name", "city"])

# Exercise (fill in the blanks)
# Get distinct rows
result = df.___()

assert result.count() == 3, f"Expected 3 distinct rows, got {result.count()}"
print("‚úì Got distinct rows")

# Get distinct cities only
cities = df.select("city").___()
assert cities.count() == 2, f"Expected 2 distinct cities, got {cities.count()}"
print("‚úì Got distinct cities (NYC, LA)")

print("\\nüéâ Koan complete! You've learned to get distinct values.")

## Column Operations

In [ ]:
# Koan 9: Renaming Columns
# Category: Column Operations

# Setup
data = [("Alice", 34), ("Bob", 45)]
df = spark.createDataFrame(data, ["name", "age"])

# Exercise (fill in the blanks)
# Rename 'name' to 'employee_name'
from pyspark.sql.functions import col

result = df.___(___, "employee_name")

assert "employee_name" in result.columns, "Should have employee_name column"
assert "name" not in result.columns, "Should not have name column anymore"
print("‚úì Renamed name to employee_name")

# Rename using alias in select
result2 = df.select(col("name").___("full_name"), col("age"))
assert "full_name" in result2.columns, "Should have full_name column"
print("‚úì Used alias in select")

print("\\nüéâ Koan complete! You've learned to rename columns.")

In [ ]:
# Koan 10: Literal Values
# Category: Column Operations

# Setup
data = [("Alice", 34), ("Bob", 45)]
df = spark.createDataFrame(data, ["name", "age"])

# Exercise (fill in the blanks)
# Add a column 'country' with value 'USA' for all rows
from pyspark.sql.functions import lit

result = df.withColumn("country", ___("USA"))

rows = result.collect()
assert all(row["country"] == "USA" for row in rows), "All rows should have country=USA"
print("‚úì Added literal column")

# Add a numeric literal
result2 = df.withColumn("bonus", ___(1000))
assert result2.collect()[0]["bonus"] == 1000, "Bonus should be 1000"
print("‚úì Added numeric literal")

print("\\nüéâ Koan complete! You've learned to use literal values.")

In [ ]:
# Koan 11: Conditional Logic with when/otherwise
# Category: Column Operations

# Setup
data = [("Alice", 34), ("Bob", 45), ("Charlie", 17), ("Diana", 65)]
df = spark.createDataFrame(data, ["name", "age"])

# Exercise (fill in the blanks)
# Create an 'age_group' column based on age
from pyspark.sql.functions import when, col

result = df.withColumn(
    "age_group",
    _____(col("age") < 18, "minor")
    .when(col("age") < 65, "adult")
    ._____("senior")
)

rows = result.collect()
groups = {row["name"]: row["age_group"] for row in rows}

assert groups["Charlie"] == "minor", f"Charlie should be minor, got {groups['Charlie']}"
print("‚úì Charlie (17) is minor")

assert groups["Alice"] == "adult", f"Alice should be adult, got {groups['Alice']}"
print("‚úì Alice (34) is adult")

assert groups["Diana"] == "senior", f"Diana should be senior, got {groups['Diana']}"
print("‚úì Diana (65) is senior")

print("\\nüéâ Koan complete! You've learned conditional column logic.")

In [ ]:
# Koan 12: Type Casting
# Category: Column Operations

# Setup
data = [("Alice", "34"), ("Bob", "45")]
df = spark.createDataFrame(data, ["name", "age_str"])

# Exercise (fill in the blanks)
# Cast age_str from string to integer
result = df.withColumn("age", col("age_str").cast("___"))

# Verify we can do math on the new column
result = result.withColumn("age_plus_10", col("age") + 10)

rows = result.collect()
assert rows[0]["age_plus_10"] == 44, f"Expected 44, got {rows[0]['age_plus_10']}"
print("‚úì Cast to integer and performed math")

# Cast to double
result2 = df.withColumn("age_float", col("age_str").___("double"))
print("‚úì Cast to double")

print("\\nüéâ Koan complete! You've learned to cast types.")

## String Functions

In [ ]:
# Koan 13: String Functions - Case
# Category: String Functions

# Setup
data = [("alice smith",), ("BOB JONES",), ("Charlie Brown",)]
df = spark.createDataFrame(data, ["name"])

# Exercise (fill in the blanks)
# Convert to uppercase
from pyspark.sql.functions import upper, lower, initcap

result = df.withColumn("upper_name", ___(col("name")))
assert result.collect()[0]["upper_name"] == "ALICE SMITH"
print("‚úì Converted to uppercase")

# Convert to lowercase
result = df.withColumn("lower_name", ___(col("name")))
assert result.collect()[1]["lower_name"] == "bob jones"
print("‚úì Converted to lowercase")

# Convert to title case (capitalize first letter of each word)
result = df.withColumn("title_name", ___(col("name")))
assert result.collect()[0]["title_name"] == "Alice Smith"
print("‚úì Converted to title case")

print("\\nüéâ Koan complete! You've learned string case functions.")

In [ ]:
# Koan 14: String Functions - Concatenation
# Category: String Functions

# Setup
data = [("Alice", "Smith"), ("Bob", "Jones")]
df = spark.createDataFrame(data, ["first", "last"])

# Exercise (fill in the blanks)
# Concatenate first and last name with a space
from pyspark.sql.functions import concat, concat_ws, lit

result = df.withColumn("full_name", ___(col("first"), lit(" "), col("last")))
assert result.collect()[0]["full_name"] == "Alice Smith"
print("‚úì Concatenated with concat()")

# Use concat_ws (with separator) - cleaner for multiple values
result2 = df.withColumn("full_name", ___(" ", col("first"), col("last")))
assert result2.collect()[0]["full_name"] == "Alice Smith"
print("‚úì Concatenated with concat_ws()")

print("\\nüéâ Koan complete! You've learned string concatenation.")

In [ ]:
# Koan 15: String Functions - Substring and Length
# Category: String Functions

# Setup
data = [("Alice",), ("Bob",), ("Charlotte",)]
df = spark.createDataFrame(data, ["name"])

# Exercise (fill in the blanks)
# Get the length of each name
from pyspark.sql.functions import length, substring

result = df.withColumn("name_length", ___(col("name")))
lengths = [row["name_length"] for row in result.collect()]
assert lengths == [5, 3, 9], f"Expected [5, 3, 9], got {lengths}"
print("‚úì Calculated string lengths")

# Get first 3 characters (substring is 1-indexed!)
result2 = df.withColumn("first_three", ___(col("name"), 1, 3))
firsts = [row["first_three"] for row in result2.collect()]
assert firsts == ["Ali", "Bob", "Cha"], f"Expected ['Ali', 'Bob', 'Cha'], got {firsts}"
print("‚úì Extracted first 3 characters")

print("\\nüéâ Koan complete! You've learned substring and length.")

In [ ]:
# Koan 16: String Functions - Trim and Pad
# Category: String Functions

# Setup
data = [("  Alice  ",), ("Bob",), (" Charlie ",)]
df = spark.createDataFrame(data, ["name"])

# Exercise (fill in the blanks)
# Trim whitespace from both sides
from pyspark.sql.functions import trim, ltrim, rtrim, lpad, rpad

result = df.withColumn("trimmed", ___(col("name")))
trimmed = [row["trimmed"] for row in result.collect()]
assert trimmed == ["Alice", "Bob", "Charlie"], f"Expected trimmed names, got {trimmed}"
print("‚úì Trimmed whitespace")

# Pad names to 10 characters with asterisks
result2 = df.withColumn("trimmed", trim(col("name")))
result2 = result2.withColumn("padded", ___(col("trimmed"), 10, "*"))
assert result2.collect()[1]["padded"] == "*******Bob"
print("‚úì Left-padded with asterisks")

print("\\nüéâ Koan complete! You've learned trim and pad functions.")

## Aggregations

In [ ]:
# Koan 17: Grouping and Aggregating
# Category: Aggregations

# Setup
data = [
    ("Sales", "Alice", 5000),
    ("Sales", "Bob", 4500),
    ("Engineering", "Charlie", 6000),
    ("Engineering", "Diana", 6500),
    ("Engineering", "Eve", 5500)
]
df = spark.createDataFrame(data, ["department", "name", "salary"])

# Exercise (fill in the blanks)
# Group by department and calculate average salary
from pyspark.sql.functions import avg, round

result = df.___("department").agg(
    round(___("salary"), 2).alias("avg_salary")
)

# Should have 2 departments
assert result.count() == 2, f"Expected 2 groups, got {result.count()}"
print("‚úì Correct number of groups")

# Check Engineering average (6000 + 6500 + 5500) / 3 = 6000
eng_row = result.filter(col("department") == "Engineering").collect()[0]
assert eng_row["avg_salary"] == 6000.0, f"Expected 6000.0, got {eng_row['avg_salary']}"
print("‚úì Engineering average salary is correct")

print("\\nüéâ Koan complete! You've learned to group and aggregate.")

In [ ]:
# Koan 18: Multiple Aggregations
# Category: Aggregations

# Setup
data = [
    ("Sales", 5000), ("Sales", 4500), ("Sales", 6000),
    ("Engineering", 6000), ("Engineering", 6500)
]
df = spark.createDataFrame(data, ["department", "salary"])

# Exercise (fill in the blanks)
# Calculate min, max, avg, and count per department
from pyspark.sql.functions import min, max, avg, count

result = df.groupBy("department").agg(
    ___("salary").alias("min_salary"),
    ___("salary").alias("max_salary"),
    avg("salary").alias("avg_salary"),
    ___("salary").alias("emp_count")
)

sales = result.filter(col("department") == "Sales").collect()[0]

assert sales["min_salary"] == 4500, f"Min should be 4500, got {sales['min_salary']}"
print("‚úì Min salary correct")

assert sales["max_salary"] == 6000, f"Max should be 6000, got {sales['max_salary']}"
print("‚úì Max salary correct")

assert sales["emp_count"] == 3, f"Count should be 3, got {sales['emp_count']}"
print("‚úì Employee count correct")

print("\\nüéâ Koan complete! You've learned multiple aggregations.")

In [ ]:
# Koan 19: Aggregate Without Grouping
# Category: Aggregations

# Setup
data = [(100,), (200,), (300,), (400,), (500,)]
df = spark.createDataFrame(data, ["value"])

# Exercise (fill in the blanks)
# Calculate sum of all values without grouping
from pyspark.sql.functions import sum as spark_sum, avg, count

result = df.___(spark_sum("value").alias("total"))

total = result.collect()[0]["total"]
assert total == 1500, f"Expected 1500, got {total}"
print("‚úì Sum calculated: 1500")

# Calculate multiple aggregates
result2 = df.agg(
    spark_sum("value").alias("total"),
    ___("value").alias("average"),
    count("value").alias("num_rows")
)

row = result2.collect()[0]
assert row["average"] == 300.0, f"Expected 300.0, got {row['average']}"
assert row["num_rows"] == 5, f"Expected 5, got {row['num_rows']}"
print("‚úì Multiple aggregates calculated")

print("\\nüéâ Koan complete! You've learned global aggregations.")

## Joins

In [ ]:
# Koan 20: Inner Join
# Category: Joins

# Setup
employees = spark.createDataFrame([
    (1, "Alice", 101),
    (2, "Bob", 102),
    (3, "Charlie", 101)
], ["emp_id", "name", "dept_id"])

departments = spark.createDataFrame([
    (101, "Engineering"),
    (102, "Sales"),
    (103, "Marketing")
], ["dept_id", "dept_name"])

# Exercise (fill in the blanks)
# Join employees with departments on dept_id
result = employees.___(departments, ___, "inner")

# Should have 3 rows (all employees have matching departments)
assert result.count() == 3, f"Expected 3 rows, got {result.count()}"
print("‚úì Correct number of joined rows")

# Should have columns from both DataFrames
assert "name" in result.columns, "Missing 'name' column"
assert "dept_name" in result.columns, "Missing 'dept_name' column"
print("‚úì Columns from both DataFrames present")

# Alice should be in Engineering
alice = result.filter(col("name") == "Alice").collect()[0]
assert alice["dept_name"] == "Engineering", f"Expected Engineering, got {alice['dept_name']}"
print("‚úì Join matched correctly")

print("\\nüéâ Koan complete! You've learned inner joins.")

In [ ]:
# Koan 21: Left Outer Join
# Category: Joins

# Setup
employees = spark.createDataFrame([
    (1, "Alice", 101),
    (2, "Bob", 102),
    (3, "Charlie", 999)  # No matching department!
], ["emp_id", "name", "dept_id"])

departments = spark.createDataFrame([
    (101, "Engineering"),
    (102, "Sales")
], ["dept_id", "dept_name"])

# Exercise (fill in the blanks)
# Left join to keep all employees, even without matching dept
result = employees.join(departments, "dept_id", "___")

# Should have 3 rows (all employees kept)
assert result.count() == 3, f"Expected 3 rows, got {result.count()}"
print("‚úì All employees kept")

# Charlie should have null department name
charlie = result.filter(col("name") == "Charlie").collect()[0]
assert charlie["dept_name"] is None, f"Expected None, got {charlie['dept_name']}"
print("‚úì Charlie has no matching department (null)")

print("\\nüéâ Koan complete! You've learned left outer joins.")

In [ ]:
# Koan 22: Join on Multiple Columns
# Category: Joins

# Setup
orders = spark.createDataFrame([
    ("2024", "Q1", "Alice", 100),
    ("2024", "Q2", "Alice", 150),
    ("2024", "Q1", "Bob", 200)
], ["year", "quarter", "rep", "amount"])

targets = spark.createDataFrame([
    ("2024", "Q1", 120),
    ("2024", "Q2", 140)
], ["year", "quarter", "target"])

# Exercise (fill in the blanks)
# Join on both year and quarter
result = orders.join(targets, [___, ___], "inner")

# Should have 3 rows
assert result.count() == 3, f"Expected 3 rows, got {result.count()}"
print("‚úì Joined on multiple columns")

# Check that Alice Q1 has target 120
alice_q1 = result.filter((col("rep") == "Alice") & (col("quarter") == "Q1")).collect()[0]
assert alice_q1["target"] == 120, f"Expected target 120, got {alice_q1['target']}"
print("‚úì Targets matched correctly")

print("\\nüéâ Koan complete! You've learned multi-column joins.")

## Window Functions

In [ ]:
# Koan 23: Window Functions - Running Total
# Category: Window Functions

# Setup
from pyspark.sql.window import Window
from pyspark.sql.functions import sum as spark_sum, col

data = [
    ("2024-01-01", 100),
    ("2024-01-02", 150),
    ("2024-01-03", 200),
    ("2024-01-04", 175)
]
df = spark.createDataFrame(data, ["date", "sales"])

# Exercise (fill in the blanks)
# Create a window that orders by date and includes all previous rows
window_spec = Window.orderBy("date").rowsBetween(Window.unboundedPreceding, Window.___)

# Add running total column
result = df.withColumn("running_total", ___("sales").over(window_spec))

# Check the running totals
rows = result.orderBy("date").collect()

assert rows[0]["running_total"] == 100, "Day 1 should be 100"
print("‚úì Day 1: 100")

assert rows[1]["running_total"] == 250, "Day 2 should be 250 (100+150)"
print("‚úì Day 2: 250")

assert rows[3]["running_total"] == 625, "Day 4 should be 625"
print("‚úì Day 4: 625 (cumulative)")

print("\\nüéâ Koan complete! You've learned window running totals.")

In [ ]:
# Koan 24: Window Functions - Row Number
# Category: Window Functions

# Setup
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, col

data = [
    ("Sales", "Alice", 5000),
    ("Sales", "Bob", 5500),
    ("Engineering", "Charlie", 6000),
    ("Engineering", "Diana", 6500),
    ("Engineering", "Eve", 5500)
]
df = spark.createDataFrame(data, ["dept", "name", "salary"])

# Exercise (fill in the blanks)
# Rank employees within each department by salary (highest first)
window_spec = Window.partitionBy("___").orderBy(col("salary").desc())

result = df.withColumn("rank", ___().___(window_spec))

# Check rankings
eng = result.filter(col("dept") == "Engineering").orderBy("rank").collect()
assert eng[0]["name"] == "Diana", f"Diana should be #1 in Engineering, got {eng[0]['name']}"
assert eng[0]["rank"] == 1
print("‚úì Diana is #1 in Engineering ($6500)")

assert eng[1]["name"] == "Charlie", f"Charlie should be #2, got {eng[1]['name']}"
print("‚úì Charlie is #2 in Engineering ($6000)")

print("\\nüéâ Koan complete! You've learned row_number().")

In [ ]:
# Koan 25: Window Functions - Lag and Lead
# Category: Window Functions

# Setup
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, lead, col

data = [
    ("2024-01-01", 100),
    ("2024-01-02", 150),
    ("2024-01-03", 120),
    ("2024-01-04", 200)
]
df = spark.createDataFrame(data, ["date", "price"])

# Exercise (fill in the blanks)
# Get yesterday's price and calculate daily change
window_spec = Window.orderBy("date")

result = df.withColumn("prev_price", ___("price", 1).over(window_spec))
result = result.withColumn("change", col("price") - col("prev_price"))

rows = result.orderBy("date").collect()

# First row has no previous
assert rows[0]["prev_price"] is None, "First row should have no prev_price"
print("‚úì First row has no previous")

# Second row: prev=100, change=50
assert rows[1]["prev_price"] == 100, f"Expected prev=100, got {rows[1]['prev_price']}"
assert rows[1]["change"] == 50, f"Expected change=50, got {rows[1]['change']}"
print("‚úì Day 2: prev=100, change=+50")

# Get tomorrow's price
result2 = df.withColumn("next_price", ___("price", 1).over(window_spec))
rows2 = result2.orderBy("date").collect()
assert rows2[0]["next_price"] == 150, f"Expected next=150, got {rows2[0]['next_price']}"
print("‚úì Lead shows next day's price")

print("\\nüéâ Koan complete! You've learned lag and lead.")

## Null Handling

In [ ]:
# Koan 26: Handling Nulls - Detection
# Category: Null Handling

# Setup
data = [("Alice", 34), ("Bob", None), ("Charlie", 29), (None, 45)]
df = spark.createDataFrame(data, ["name", "age"])

# Exercise (fill in the blanks)
# Filter to rows where age is not null
from pyspark.sql.functions import col, isnan, isnull

result = df.filter(col("age").___())

assert result.count() == 3, f"Expected 3 rows with age, got {result.count()}"
print("‚úì Filtered to non-null ages")

# Filter to rows where age IS null
nulls = df.filter(col("age").___())
assert nulls.count() == 1, f"Expected 1 null age, got {nulls.count()}"
print("‚úì Found rows with null age")

# Check for null name
null_names = df.filter(col("name").isNull())
assert null_names.count() == 1
print("‚úì Found row with null name")

print("\\nüéâ Koan complete! You've learned null detection.")

In [ ]:
# Koan 27: Handling Nulls - Fill and Drop
# Category: Null Handling

# Setup
data = [("Alice", 34), ("Bob", None), (None, 29), ("Diana", None)]
df = spark.createDataFrame(data, ["name", "age"])

# Exercise (fill in the blanks)
# Fill null ages with 0
result = df.___(0, subset=["age"])

ages = [row["age"] for row in result.collect()]
assert None not in ages, "Should have no null ages"
assert ages.count(0) == 2, "Should have 2 zeros"
print("‚úì Filled null ages with 0")

# Fill null names with "Unknown"
result2 = df.fillna("Unknown", subset=["name"])
names = [row["name"] for row in result2.collect()]
assert "Unknown" in names, "Should have Unknown name"
print("‚úì Filled null names")

# Drop rows with ANY null values
result3 = df.___()
assert result3.count() == 1, f"Expected 1 complete row, got {result3.count()}"
print("‚úì Dropped rows with nulls")

print("\\nüéâ Koan complete! You've learned to handle nulls.")

## Advanced

In [ ]:
# Koan 28: Union DataFrames
# Category: Advanced

# Setup
df1 = spark.createDataFrame([("Alice", 34), ("Bob", 45)], ["name", "age"])
df2 = spark.createDataFrame([("Charlie", 29), ("Diana", 52)], ["name", "age"])

# Exercise (fill in the blanks)
# Combine two DataFrames with the same schema
result = df1.___(df2)

assert result.count() == 4, f"Expected 4 rows, got {result.count()}"
print("‚úì Combined DataFrames")

names = [row["name"] for row in result.collect()]
assert "Alice" in names and "Charlie" in names, "Should have names from both DFs"
print("‚úì Contains data from both DataFrames")

print("\\nüéâ Koan complete! You've learned to union DataFrames.")

In [ ]:
# Koan 29: Explode Arrays
# Category: Advanced

# Setup
from pyspark.sql.functions import explode, split

data = [("Alice", "python,sql,spark"), ("Bob", "java,scala")]
df = spark.createDataFrame(data, ["name", "skills_str"])

# First split the string into an array
df = df.withColumn("skills", split(col("skills_str"), ","))

# Exercise (fill in the blanks)
# Explode the skills array into separate rows
from pyspark.sql.functions import explode

result = df.select("name", ___(col("skills")).alias("skill"))

assert result.count() == 5, f"Expected 5 rows, got {result.count()}"
print("‚úì Exploded to 5 rows")

alice_skills = [row["skill"] for row in result.filter(col("name") == "Alice").collect()]
assert len(alice_skills) == 3, f"Alice should have 3 skills, got {len(alice_skills)}"
assert "spark" in alice_skills
print("‚úì Alice has 3 skills including spark")

print("\\nüéâ Koan complete! You've learned to explode arrays.")

In [ ]:
# Koan 30: Pivot Tables
# Category: Advanced

# Setup
data = [
    ("Alice", "Q1", 100), ("Alice", "Q2", 150),
    ("Bob", "Q1", 200), ("Bob", "Q2", 180)
]
df = spark.createDataFrame(data, ["name", "quarter", "sales"])

# Exercise (fill in the blanks)
# Pivot to get quarters as columns
from pyspark.sql.functions import sum as spark_sum

result = df.groupBy("name").___(___).agg(spark_sum("sales"))

# Should have columns: name, Q1, Q2
assert "Q1" in result.columns, "Should have Q1 column"
assert "Q2" in result.columns, "Should have Q2 column"
print("‚úì Pivoted quarters to columns")

alice = result.filter(col("name") == "Alice").collect()[0]
assert alice["Q1"] == 100, f"Expected Q1=100, got {alice['Q1']}"
assert alice["Q2"] == 150, f"Expected Q2=150, got {alice['Q2']}"
print("‚úì Values correctly placed in columns")

print("\\nüéâ Koan complete! You've learned pivot tables.")

## Delta Lake

In [ ]:
# Koan 101: Creating a Delta Table
# Category: Delta Lake

# Setup
_reset_delta_tables()  # Clean slate

data = [("Alice", 34, "Engineering"), ("Bob", 45, "Sales"), ("Charlie", 29, "Engineering")]
df = spark.createDataFrame(data, ["name", "age", "department"])

# Exercise (fill in the blanks)
# Write the DataFrame as a Delta table
df.write.___("delta").mode("overwrite").save("/data/employees")

# Read it back
result = spark.read.format("___").load("/data/employees")

assert result.count() == 3, f"Expected 3 rows, got {result.count()}"
print("‚úì Delta table created and read successfully")

# Verify it's a Delta table
assert DeltaTable.___(spark, "/data/employees"), "Should be a Delta table"
print("‚úì Confirmed as Delta table")

print("\\nüéâ Koan complete! You've created your first Delta table.")

In [ ]:
# Koan 102: Time Travel - Version
# Category: Delta Lake

# Setup
_reset_delta_tables()

# Create initial data (version 0)
data_v0 = [("Alice", 100), ("Bob", 200)]
df_v0 = spark.createDataFrame(data_v0, ["name", "balance"])
df_v0.write.format("delta").save("/data/accounts")

# Update data (version 1)
data_v1 = [("Alice", 150), ("Bob", 250), ("Charlie", 300)]
df_v1 = spark.createDataFrame(data_v1, ["name", "balance"])
df_v1.write.format("delta").mode("overwrite").save("/data/accounts")

# Exercise (fill in the blanks)
# Read the current version
current = spark.read.format("delta").load("/data/accounts")
assert current.count() == 3, "Current version should have 3 rows"
print(f"‚úì Current version has {current.count()} rows")

# Read version 0 using time travel
historical = spark.read.format("delta").option("___", 0).load("/data/accounts")

assert historical.count() == 2, f"Version 0 should have 2 rows, got {historical.count()}"
print(f"‚úì Version 0 has {historical.count()} rows")

# Check that Charlie wasn't in version 0
names_v0 = [row["name"] for row in historical.collect()]
assert "Charlie" not in names_v0, "Charlie should not be in version 0"
print("‚úì Charlie correctly absent from version 0")

print("\\nüéâ Koan complete! You've mastered time travel queries.")

In [ ]:
# Koan 103: MERGE - Upsert Pattern
# Category: Delta Lake

# Setup
_reset_delta_tables()

# Create target table
target_data = [("Alice", 100), ("Bob", 200)]
target_df = spark.createDataFrame(target_data, ["name", "balance"])
target_df.write.format("delta").save("/data/accounts")

# Source data with updates and new records
source_data = [("Alice", 150), ("Charlie", 300)]  # Alice updated, Charlie is new
source_df = spark.createDataFrame(source_data, ["name", "balance"])

# Exercise (fill in the blanks)
# Get the Delta table
dt = DeltaTable.forPath(spark, "/data/accounts")

# Merge source into target
# When matched: update the balance
# When not matched: insert the new record
dt.___(
    source_df,
    "target.name = source.name"
).whenMatched___().whenNotMatched___().execute()

# Verify results
result = dt.toDF()
assert result.count() == 3, f"Expected 3 rows, got {result.count()}"
print("‚úì Correct row count after merge")

# Check Alice was updated
alice = result.filter(col("name") == "Alice").collect()[0]
assert alice["balance"] == 150, f"Alice balance should be 150, got {alice['balance']}"
print("‚úì Alice's balance updated to 150")

# Check Charlie was inserted
charlie = result.filter(col("name") == "Charlie").collect()[0]
assert charlie["balance"] == 300, f"Charlie balance should be 300"
print("‚úì Charlie inserted with balance 300")

print("\\nüéâ Koan complete! You've mastered the MERGE upsert pattern.")

In [ ]:
# Koan 104: MERGE - Selective Update
# Category: Delta Lake

# Setup
_reset_delta_tables()

# Create target table with more columns
target_data = [("Alice", 100, "2024-01-01"), ("Bob", 200, "2024-01-01")]
target_df = spark.createDataFrame(target_data, ["name", "balance", "last_updated"])
target_df.write.format("delta").save("/data/accounts")

# Source only has name and new balance
source_data = [("Alice", 500)]
source_df = spark.createDataFrame(source_data, ["name", "new_balance"])

# Exercise (fill in the blanks)
# Get the Delta table
dt = DeltaTable.forPath(spark, "/data/accounts")

# Merge with specific column mapping
dt.merge(
    source_df,
    "target.name = source.name"
).whenMatchedUpdate(set={
    "___": "source.new_balance",
    "last_updated": "'2024-06-01'"
}).execute()

# Verify Alice's balance was updated
result = dt.toDF()
alice = result.filter(col("name") == "Alice").collect()[0]

assert alice["balance"] == 500, f"Expected balance 500, got {alice['balance']}"
print("‚úì Alice's balance updated to 500")

# Verify Bob was not changed
bob = result.filter(col("name") == "Bob").collect()[0]
assert bob["balance"] == 200, f"Bob should still have 200, got {bob['balance']}"
print("‚úì Bob's balance unchanged")

print("\\nüéâ Koan complete! You've learned selective MERGE updates.")

In [ ]:
# Koan 105: Table History
# Category: Delta Lake

# Setup
_reset_delta_tables()

# Create and modify table multiple times
data = [("Alice", 100)]
df = spark.createDataFrame(data, ["name", "balance"])
df.write.format("delta").save("/data/accounts")

# Make some updates
data2 = [("Alice", 100), ("Bob", 200)]
df2 = spark.createDataFrame(data2, ["name", "balance"])
df2.write.format("delta").mode("overwrite").save("/data/accounts")

# Exercise (fill in the blanks)
# Get the Delta table
dt = DeltaTable.forPath(spark, "/data/accounts")

# Get the full history
history_df = dt.___()

# History should show our operations
history_rows = history_df.collect()
assert len(history_rows) >= 2, f"Expected at least 2 history entries"
print(f"‚úì Found {len(history_rows)} history entries")

# Check version numbers exist
versions = [row["version"] for row in history_rows]
assert 0 in versions, "Should have version 0"
print("‚úì Version 0 present in history")

# Check operations are recorded
operations = [row["operation"] for row in history_rows]
print(f"‚úì Operations recorded: {operations}")

print("\\nüéâ Koan complete! You can now audit Delta table changes.")

In [ ]:
# Koan 106: OPTIMIZE and Z-ORDER
# Category: Delta Lake

# Setup
_reset_delta_tables()

# Create table with data
data = [(i, f"user_{i}", i % 10) for i in range(100)]
df = spark.createDataFrame(data, ["id", "name", "category"])
df.write.format("delta").save("/data/users")

# Exercise (fill in the blanks)
# Get the Delta table
dt = DeltaTable.forPath(spark, "/data/users")

# Optimize the table (compacts small files)
dt.___()
print("‚úì Table optimized (files compacted)")

# Check history shows the optimize operation
history = dt.history(1).collect()[0]
assert history["operation"] == "OPTIMIZE", f"Expected OPTIMIZE, got {history['operation']}"
print("‚úì OPTIMIZE recorded in history")

# Optimize with Z-ORDER for faster queries on specific columns
dt.optimize().___("category")
print("‚úì Z-ORDER optimization applied on 'category' column")

print("\\nüéâ Koan complete! You've learned table optimization.")

In [ ]:
# Koan 107: Delete with Condition
# Category: Delta Lake

# Setup
_reset_delta_tables()

data = [("Alice", 100, True), ("Bob", 200, False), ("Charlie", 150, True)]
df = spark.createDataFrame(data, ["name", "balance", "is_active"])
df.write.format("delta").save("/data/accounts")

# Exercise (fill in the blanks)
# Get the Delta table
dt = DeltaTable.forPath(spark, "/data/accounts")

# Delete all inactive accounts
dt.___(condition="is_active == False")

# Verify Bob was deleted
result = dt.toDF()
names = [row["name"] for row in result.collect()]

assert "Bob" not in names, "Bob should be deleted"
print("‚úì Inactive account (Bob) deleted")

assert result.count() == 2, f"Expected 2 rows, got {result.count()}"
print("‚úì Only active accounts remain")

print("\\nüéâ Koan complete! You've learned Delta delete operations.")

In [ ]:
# Koan 108: Update with Condition
# Category: Delta Lake

# Setup
_reset_delta_tables()

data = [("Alice", 100, "basic"), ("Bob", 200, "premium"), ("Charlie", 50, "basic")]
df = spark.createDataFrame(data, ["name", "balance", "tier"])
df.write.format("delta").save("/data/accounts")

# Exercise (fill in the blanks)
# Get the Delta table
dt = DeltaTable.forPath(spark, "/data/accounts")

# Give all premium users a bonus: set their balance to balance + 100
dt.___(
    condition="tier == 'premium'",
    set_values={"___": 300}  # Bob's new balance
)

# Verify Bob got the bonus
result = dt.toDF()
bob = result.filter(col("name") == "Bob").collect()[0]

assert bob["balance"] == 300, f"Bob should have 300, got {bob['balance']}"
print("‚úì Premium user (Bob) balance updated")

# Verify others unchanged
alice = result.filter(col("name") == "Alice").collect()[0]
assert alice["balance"] == 100, f"Alice should still have 100"
print("‚úì Basic users unchanged")

print("\\nüéâ Koan complete! You've learned Delta update operations.")

In [ ]:
# Koan 109: Create Table with Builder
# Category: Delta Lake

# Setup
_reset_delta_tables()

# Exercise (fill in the blanks)
# Create a Delta table with explicit schema
DeltaTable._____(spark) \\
    .tableName("products") \\
    .addColumn("id", "INT") \\
    .addColumn("___", "STRING") \\
    .addColumn("price", "DOUBLE") \\
    .execute()

# Verify table was created
assert DeltaTable.isDeltaTable(spark, "products"), "Table should exist"
print("‚úì Table 'products' created")

# Get the table and verify schema
dt = DeltaTable.forPath(spark, "products")
df = dt.toDF()

assert "name" in df.columns, "Should have 'name' column"
assert "price" in df.columns, "Should have 'price' column"
print("‚úì Table has correct columns")

assert df.count() == 0, "New table should be empty"
print("‚úì Table is empty (ready for data)")

print("\\nüéâ Koan complete! You've learned the DeltaTable builder.")

In [ ]:
# Koan 110: VACUUM Old Files
# Category: Delta Lake

# Setup
_reset_delta_tables()

# Create table and make several updates
for i in range(3):
    data = [(j, f"version_{i}") for j in range(10)]
    df = spark.createDataFrame(data, ["id", "data"])
    df.write.format("delta").mode("overwrite").save("/data/versions")

# Exercise (fill in the blanks)
# Get the Delta table  
dt = DeltaTable.forPath(spark, "/data/versions")

# Check we have multiple versions
history = dt.history()
version_count = history.count()
print(f"Table has {version_count} versions")

# Vacuum to remove old files
# Default retention is 168 hours (7 days)
result = dt.___(retention_hours=168)

print("‚úì Vacuum completed")

# Note: After vacuum, time travel to old versions may not work!
# This is a trade-off between storage and history access
print("\\n‚ö†Ô∏è  Warning: VACUUM removes old version files!")
print("   Time travel to vacuumed versions will fail.")

print("\\nüéâ Koan complete! You understand VACUUM and retention.")

## Unity Catalog

In [ ]:
# Koan 201: Creating Catalogs and Schemas
# Category: Unity Catalog

# Setup
# Unity Catalog uses a three-level namespace: catalog.schema.table
# First, let's see what's available
spark.sql("SHOW CATALOGS").show()

# Exercise (fill in the blanks)
# Create a new catalog
spark.sql("___ CATALOG my_catalog")
print("‚úì Catalog 'my_catalog' created")

# Create a schema (database) within the catalog
spark.sql("CREATE ___ my_catalog.my_schema")
print("‚úì Schema 'my_catalog.my_schema' created")

# Verify the schema was created
schemas = spark.sql("SHOW SCHEMAS IN ___").collect()
schema_names = [row.databaseName for row in schemas]
assert "my_schema" in schema_names, f"Schema not found. Available: {schema_names}"
print("‚úì Schema verified in catalog")

# Set the current schema for subsequent operations
spark.sql("___ my_catalog.my_schema")
print("‚úì Current schema set to my_catalog.my_schema")

print("\\nüéâ Koan complete! You've created a Unity Catalog namespace.")

In [ ]:
# Koan 202: Creating Managed Tables
# Category: Unity Catalog

# Setup
# Set up a catalog and schema
spark.sql("CREATE CATALOG IF NOT EXISTS demo_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS demo_catalog.demo_schema")
spark.sql("USE demo_catalog.demo_schema")

# Create sample data
data = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]
df = spark.createDataFrame(data, ["name", "score"])

# Exercise (fill in the blanks)
# Create a managed table from the DataFrame
# Managed tables have their data managed by Unity Catalog
df.write.saveAsTable("___")
print("‚úì Managed table 'students' created")

# Read back the table using the three-level namespace
result = spark.table("demo_catalog.demo_schema.___")
assert result.count() == 3, f"Expected 3 rows, got {result.count()}"
print("‚úì Table data verified")

# Show table properties
spark.sql("___ TABLE demo_catalog.demo_schema.students").show()
print("‚úì Table description displayed")

print("\\nüéâ Koan complete! You've created a managed table in Unity Catalog.")

In [ ]:
# Koan 203: Creating External Tables
# Category: Unity Catalog

# Setup
# Set up namespace
spark.sql("CREATE CATALOG IF NOT EXISTS demo_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS demo_catalog.demo_schema")
spark.sql("USE demo_catalog.demo_schema")

# Create and save data to a specific location
data = [("Product A", 100), ("Product B", 250), ("Product C", 175)]
df = spark.createDataFrame(data, ["product", "price"])
df.write.format("delta").save("/data/products_external")

# Exercise (fill in the blanks)
# Create an external table pointing to existing data
# External tables don't manage the underlying data files
spark.sql("""
  CREATE TABLE products_ext
  USING ___
  ___ '/data/products_external'
""")
print("‚úì External table 'products_ext' created")

# Query the external table
result = spark.sql("SELECT * FROM products_ext")
assert result.count() == 3, f"Expected 3 rows, got {result.count()}"
print("‚úì External table data accessible")

# Check if table is external
table_info = spark.sql("DESCRIBE ___ products_ext").collect()
properties = {row.col_name: row.data_type for row in table_info}
print("‚úì Table metadata retrieved")

print("\\nüéâ Koan complete! You understand managed vs external tables.")

In [ ]:
# Koan 204: Granting Permissions
# Category: Unity Catalog

# Setup
# Set up namespace and table
spark.sql("CREATE CATALOG IF NOT EXISTS demo_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS demo_catalog.demo_schema")
spark.sql("USE demo_catalog.demo_schema")

data = [("Alice", 1000), ("Bob", 2000)]
df = spark.createDataFrame(data, ["name", "salary"])
df.write.mode("overwrite").saveAsTable("employees")

# Exercise (fill in the blanks)
# Grant SELECT permission to a user
spark.sql("___ SELECT ON TABLE employees TO \

In [ ]:
# Koan 205: Revoking Permissions
# Category: Unity Catalog

# Setup
# Set up namespace and table
spark.sql("CREATE CATALOG IF NOT EXISTS demo_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS demo_catalog.demo_schema")
spark.sql("USE demo_catalog.demo_schema")

data = [("Customer A", "Premium"), ("Customer B", "Basic")]
df = spark.createDataFrame(data, ["customer", "tier"])
df.write.mode("overwrite").saveAsTable("customers")

# Grant some permissions first
spark.sql("GRANT SELECT ON TABLE customers TO \

# Exercise (fill in the blanks)
# Revoke SELECT permission from a user
spark.sql("___ SELECT ON TABLE customers FROM \

In [ ]:
# Koan 206: Querying Information Schema
# Category: Unity Catalog

# Setup
# Set up catalog with multiple objects
spark.sql("CREATE CATALOG IF NOT EXISTS demo_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS demo_catalog.analytics")
spark.sql("USE demo_catalog.analytics")

# Create several tables
spark.createDataFrame([("a", 1)], ["col1", "col2"]).write.mode("overwrite").saveAsTable("table1")
spark.createDataFrame([("b", 2)], ["col1", "col2"]).write.mode("overwrite").saveAsTable("table2")

# Exercise (fill in the blanks)
# Query all tables in the current schema using information_schema
tables_df = spark.sql("""
  SELECT table_name
  FROM ___.tables
  WHERE table_schema = 'analytics'
""")
print("‚úì Queried information_schema.tables")

table_count = tables_df.count()
assert table_count >= 2, f"Expected at least 2 tables, got {table_count}"
print(f"‚úì Found {table_count} tables in schema")

# Query column information
columns_df = spark.sql("""
  SELECT table_name, column_name, data_type
  FROM information_schema.___
  WHERE table_schema = 'analytics' AND table_name = 'table1'
""")
print("‚úì Queried column metadata")

col_count = columns_df.count()
assert col_count == 2, f"Expected 2 columns, got {col_count}"
print("‚úì Column information retrieved")

# Query all schemas in the catalog
schemas_df = spark.sql("""
  SELECT schema_name
  FROM information_schema.___
  WHERE catalog_name = 'demo_catalog'
""")
print("‚úì Queried schema information")

print("\\nüéâ Koan complete! You can now discover Unity Catalog metadata.")

In [ ]:
# Koan 207: Table Properties and Comments
# Category: Unity Catalog

# Setup
# Set up namespace
spark.sql("CREATE CATALOG IF NOT EXISTS demo_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS demo_catalog.metadata_demo")
spark.sql("USE demo_catalog.metadata_demo")

# Exercise (fill in the blanks)
# Create a table with a comment
spark.sql("""
  CREATE TABLE products (
    product_id INT,
    product_name STRING,
    price DOUBLE
  )
  ___ 'Product catalog table containing all available products'
""")
print("‚úì Table created with comment")

# Add a property to the table
spark.sql("""
  ALTER TABLE products
  SET ___ ('owner' = 'data_team', 'pii' = 'false')
""")
print("‚úì Table properties set")

# Add a comment to a specific column
spark.sql("""
  ALTER TABLE products
  ALTER COLUMN price ___ 'Price in USD'
""")
print("‚úì Column comment added")

# View table properties
spark.sql("DESCRIBE EXTENDED products").show()
print("‚úì Table metadata displayed")

print("\\nüéâ Koan complete! You can now document tables with metadata.")

In [ ]:
# Koan 208: Creating Views in Unity Catalog
# Category: Unity Catalog

# Setup
# Set up namespace and base table
spark.sql("CREATE CATALOG IF NOT EXISTS demo_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS demo_catalog.views_demo")
spark.sql("USE demo_catalog.views_demo")

data = [
  ("Alice", "Engineering", 85000),
  ("Bob", "Sales", 75000),
  ("Charlie", "Engineering", 95000),
  ("Diana", "Sales", 80000)
]
df = spark.createDataFrame(data, ["name", "department", "salary"])
df.write.mode("overwrite").saveAsTable("employees")

# Exercise (fill in the blanks)
# Create a view that filters high earners
spark.sql("""
  CREATE ___ high_earners AS
  SELECT name, department, salary
  FROM employees
  WHERE salary > 80000
""")
print("‚úì View 'high_earners' created")

# Query the view
result = spark.sql("SELECT * FROM ___")
assert result.count() == 2, f"Expected 2 high earners, got {result.count()}"
print("‚úì View query successful")

# Create a temporary view (session-scoped)
spark.sql("""
  CREATE ___ VIEW sales_team AS
  SELECT name, salary
  FROM employees
  WHERE department = 'Sales'
""")
print("‚úì Temporary view created")

# Verify temporary view works
temp_result = spark.sql("SELECT * FROM sales_team")
assert temp_result.count() == 2, f"Expected 2 sales members"
print("‚úì Temporary view query successful")

print("\\nüéâ Koan complete! You can now use views to simplify queries.")

In [ ]:
# Koan 209: Inspecting Table ACLs
# Category: Unity Catalog

# Setup
# Set up namespace and table
spark.sql("CREATE CATALOG IF NOT EXISTS demo_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS demo_catalog.acl_demo")
spark.sql("USE demo_catalog.acl_demo")

data = [("record1", 100), ("record2", 200)]
df = spark.createDataFrame(data, ["id", "value"])
df.write.mode("overwrite").saveAsTable("secure_data")

# Grant some permissions for testing
spark.sql("GRANT SELECT ON TABLE secure_data TO \

# Exercise (fill in the blanks)
# Show grants on the table
grants_df = spark.sql("___ GRANTS ON TABLE secure_data")
grants_df.show()
print("‚úì Grants displayed")

grant_count = grants_df.count()
assert grant_count >= 2, f"Expected at least 2 grants, got {grant_count}"
print(f"‚úì Found {grant_count} grant entries")

# Check grants for a specific principal
user_grants = spark.sql("""
  SHOW ___ ON TABLE secure_data
""").filter("principal = 'analyst@example.com'")
print("‚úì Filtered grants for specific user")

# Show all grants on the schema
schema_grants = spark.sql("SHOW GRANTS ON ___ acl_demo")
print("‚úì Schema grants displayed")

print("\\nüéâ Koan complete! You can now audit Unity Catalog permissions.")

In [ ]:
# Koan 210: Three-Level Namespace Usage
# Category: Unity Catalog

# Setup
# Create multiple catalogs and schemas
spark.sql("CREATE CATALOG IF NOT EXISTS prod_catalog")
spark.sql("CREATE CATALOG IF NOT EXISTS dev_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS prod_catalog.sales")
spark.sql("CREATE SCHEMA IF NOT EXISTS dev_catalog.sales")

# Create tables in different catalogs
spark.sql("USE prod_catalog.sales")
spark.createDataFrame([("Product A", 1000)], ["name", "revenue"]).write.mode("overwrite").saveAsTable("revenue")

spark.sql("USE dev_catalog.sales")
spark.createDataFrame([("Product A", 500)], ["name", "revenue"]).write.mode("overwrite").saveAsTable("revenue")

# Exercise (fill in the blanks)
# Query from production using full three-level name
prod_df = spark.sql("SELECT * FROM ___.sales.revenue")
prod_revenue = prod_df.collect()[0]["revenue"]
assert prod_revenue == 1000, f"Expected prod revenue 1000, got {prod_revenue}"
print("‚úì Queried production table using full path")

# Query from development
dev_df = spark.sql("SELECT * FROM dev_catalog.___.___")
dev_revenue = dev_df.collect()[0]["revenue"]
assert dev_revenue == 500, f"Expected dev revenue 500, got {dev_revenue}"
print("‚úì Queried development table using full path")

# Join tables across catalogs
result = spark.sql("""
  SELECT
    p.name,
    p.revenue as prod_revenue,
    d.revenue as dev_revenue
  FROM prod_catalog.sales.revenue p
  JOIN ___.sales.revenue d ON p.name = d.name
""")
print("‚úì Joined tables across catalogs")

# Get current catalog and schema
current_catalog = spark.sql("SELECT ___()").collect()[0][0]
print(f"‚úì Current catalog: {current_catalog}")

current_schema = spark.sql("SELECT current_database()").collect()[0][0]
print(f"‚úì Current schema: {current_schema}")

print("\\nüéâ Koan complete! You've mastered Unity Catalog namespacing.")

## Pandas API on Spark

In [ ]:
# Koan 301: Converting to Pandas API on Spark
# Category: Pandas API on Spark

# Setup
# Create a PySpark DataFrame
data = [("Alice", 25, "NYC"), ("Bob", 30, "LA"), ("Charlie", 35, "Chicago")]
spark_df = spark.createDataFrame(data, ["name", "age", "city"])
print("PySpark DataFrame created")

# Exercise (fill in the blanks)
# Convert PySpark DataFrame to Pandas-on-Spark DataFrame
import pyspark.pandas as ps

# Method 1: Convert from PySpark DataFrame
psdf = spark_df.___()
print("‚úì Converted to Pandas-on-Spark DataFrame")

# Check the type
print(f"Type: {type(psdf)}")
assert "pandas" in str(type(psdf)).lower(), "Should be a pandas-on-spark DataFrame"
print("‚úì Type verified")

# Pandas-on-Spark supports familiar pandas operations
print("\\nDataFrame head:")
print(psdf.___(2))  # Show first 2 rows
print("‚úì head() works like pandas")

# Method 2: Create directly from data
psdf2 = ps.___({"name": ["Dave", "Eve"], "age": [28, 32]})
print("‚úì Created Pandas-on-Spark DataFrame from dict")

print("\\nüéâ Koan complete! You can now use pandas syntax with Spark.")

In [ ]:
# Koan 302: Indexing with .loc and .iloc
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create a Pandas-on-Spark DataFrame
psdf = ps.DataFrame({
    "name": ["Alice", "Bob", "Charlie", "Diana"],
    "age": [25, 30, 35, 28],
    "city": ["NYC", "LA", "Chicago", "Boston"]
})
print("DataFrame created:")
print(psdf)

# Exercise (fill in the blanks)
# Use .loc to select by label/condition
# Select rows where age > 28
result1 = psdf.___[psdf["age"] > 28]
print("\\nRows with age > 28:")
print(result1)
assert len(result1) == 2, f"Expected 2 rows, got {len(result1)}"
print("‚úì .loc with condition works")

# Use .loc to select specific columns
result2 = psdf.loc[:, ["name", "___"]]
print("\\nSelected name and city columns:")
print(result2)
assert "age" not in result2.columns.tolist(), "age should not be included"
print("‚úì .loc column selection works")

# Use .iloc for integer-based indexing
# Get the first 2 rows
result3 = psdf.___[:2]
print("\\nFirst 2 rows (using iloc):")
print(result3)
assert len(result3) == 2, f"Expected 2 rows, got {len(result3)}"
print("‚úì .iloc position indexing works")

# Get specific row and column by position
value = psdf.iloc[1, 0]  # Second row, first column
print(f"\\nValue at [1, 0]: {value}")
assert value == "Bob", f"Expected 'Bob', got {value}"
print("‚úì .iloc single value access works")

print("\\nüéâ Koan complete! You can now use pandas-style indexing.")

In [ ]:
# Koan 303: DataFrame Operations
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create a Pandas-on-Spark DataFrame
psdf = ps.DataFrame({
    "product": ["A", "B", "C", "D", "E"],
    "price": [100, 250, 175, 300, 125],
    "quantity": [10, 5, 8, 3, 12]
})

# Exercise (fill in the blanks)
# Show first 3 rows
print("First 3 rows:")
print(psdf.___(3))
print("‚úì head() works")

# Show last 2 rows
print("\\nLast 2 rows:")
print(psdf.___(2))
print("‚úì tail() works")

# Get summary statistics
print("\\nSummary statistics:")
stats = psdf.___()
print(stats)
print("‚úì describe() provides statistics")

# Get shape (rows, columns)
rows, cols = psdf.___
print(f"\\nShape: {rows} rows, {cols} columns")
assert rows == 5, f"Expected 5 rows"
assert cols == 3, f"Expected 3 columns"
print("‚úì shape attribute works")

# Get column data types
print("\\nData types:")
print(psdf.___)
print("‚úì dtypes shows column types")

# Get column names
columns = psdf.___.tolist()
print(f"\\nColumns: {columns}")
assert "price" in columns, "Should have 'price' column"
print("‚úì columns attribute works")

print("\\nüéâ Koan complete! You know pandas DataFrame operations.")

In [ ]:
# Koan 304: Series Operations
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create a DataFrame
psdf = ps.DataFrame({
    "name": ["Alice", "Bob", "Charlie", "Diana"],
    "score": [85, 92, 78, 88]
})

# Exercise (fill in the blanks)
# Extract a Series (single column)
scores = psdf["___"]
print("Scores Series:")
print(scores)
print(f"Type: {type(scores)}")
print("‚úì Extracted Series from DataFrame")

# Get Series statistics
mean_score = scores.___()
print(f"\\nMean score: {mean_score}")
assert mean_score > 80, f"Mean should be > 80"
print("‚úì mean() calculated")

max_score = scores.___()
print(f"Max score: {max_score}")
assert max_score == 92, f"Max should be 92"
print("‚úì max() found")

# Apply operations to Series
# Add 5 bonus points to all scores
adjusted_scores = scores + ___
print("\\nAdjusted scores (bonus +5):")
print(adjusted_scores)
print("‚úì Arithmetic operations work on Series")

# Filter Series
high_scores = scores[scores >= ___]
print("\\nScores >= 85:")
print(high_scores)
assert len(high_scores) == 3, f"Expected 3 high scores"
print("‚úì Boolean filtering works on Series")

# Get unique values
names_series = psdf["name"]
unique_names = names_series.___()
print(f"\\nUnique names count: {len(unique_names)}")
print("‚úì unique() works on Series")

print("\\nüéâ Koan complete! You can now work with Series.")

In [ ]:
# Koan 305: Index Operations
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create a DataFrame with default integer index
psdf = ps.DataFrame({
    "employee_id": [101, 102, 103, 104],
    "name": ["Alice", "Bob", "Charlie", "Diana"],
    "salary": [75000, 82000, 68000, 91000]
})

# Exercise (fill in the blanks)
# Set a column as the index
psdf_indexed = psdf.set_index("___")
print("DataFrame with employee_id as index:")
print(psdf_indexed)
print("‚úì set_index() applied")

# Access the index
index_values = psdf_indexed.___.tolist()
print(f"\\nIndex values: {index_values}")
assert 101 in index_values, "101 should be in index"
print("‚úì index attribute accessed")

# Reset the index back to default
psdf_reset = psdf_indexed.___()
print("\\nDataFrame with reset index:")
print(psdf_reset)
print("‚úì reset_index() applied")

# Sort by index
psdf_indexed_desc = psdf_indexed.sort_index(ascending=___)
print("\\nSorted by index (descending):")
print(psdf_indexed_desc)
print("‚úì sort_index() works")

# Set index name
psdf_indexed.index.___ = "emp_id"
print(f"\\nIndex name: {psdf_indexed.index.name}")
assert psdf_indexed.index.name == "emp_id", "Index name should be 'emp_id'"
print("‚úì Index name set")

print("\\nüéâ Koan complete! You can now manage DataFrame indexes.")

In [ ]:
# Koan 306: GroupBy with Pandas Syntax
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create a sales DataFrame
psdf = ps.DataFrame({
    "region": ["East", "East", "West", "West", "East", "West"],
    "product": ["A", "B", "A", "B", "A", "B"],
    "sales": [100, 150, 200, 180, 120, 160]
})

# Exercise (fill in the blanks)
# Group by region and calculate mean sales
region_avg = psdf.groupby("___")["sales"].mean()
print("Average sales by region:")
print(region_avg)
print("‚úì groupby() with aggregation works")

# Group by multiple columns
multi_group = psdf.groupby(["region", "___"])["sales"].sum()
print("\\nTotal sales by region and product:")
print(multi_group)
print("‚úì Multi-column groupby works")

# Use agg() for multiple aggregations
result = psdf.groupby("region").___({
    "sales": ["sum", "mean", "___"]
})
print("\\nMultiple aggregations:")
print(result)
print("‚úì agg() with multiple functions works")

# Group and get size (count of rows per group)
group_sizes = psdf.groupby("region").___()
print("\\nGroup sizes:")
print(group_sizes)
assert group_sizes["East"] == 3, f"East should have 3 rows"
print("‚úì size() counts rows per group")

# Apply custom aggregation
max_sales_by_region = psdf.groupby("region")["sales"].___()
print("\\nMax sales by region:")
print(max_sales_by_region)
print("‚úì max() aggregation works")

print("\\nüéâ Koan complete! You can use pandas-style groupby.")

In [ ]:
# Koan 307: Merge and Join with Pandas Syntax
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create two DataFrames
employees = ps.DataFrame({
    "emp_id": [1, 2, 3, 4],
    "name": ["Alice", "Bob", "Charlie", "Diana"],
    "dept_id": [10, 20, 10, 30]
})

departments = ps.DataFrame({
    "dept_id": [10, 20, 30],
    "dept_name": ["Engineering", "Sales", "HR"]
})

# Exercise (fill in the blanks)
# Merge on a common column
result = employees.merge(departments, on="___")
print("Merged DataFrame:")
print(result)
assert len(result) == 4, f"Expected 4 rows after merge"
print("‚úì merge() on common column works")

# Left join (keep all employees even if no dept match)
# First add an employee with no department
employees_extended = ps.DataFrame({
    "emp_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
    "dept_id": [10, 20, 10, 30, 99]  # 99 doesn't exist in departments
})

left_result = employees_extended.merge(departments, on="dept_id", how="___")
print("\\nLeft join result:")
print(left_result)
assert len(left_result) == 5, f"Expected 5 rows in left join"
print("‚úì Left join preserves all left rows")

# Merge with different column names
products = ps.DataFrame({
    "product_id": [1, 2, 3],
    "product_name": ["Widget", "Gadget", "Doohickey"]
})

sales = ps.DataFrame({
    "sale_id": [101, 102, 103],
    "prod_id": [1, 2, 1],  # Note: different column name
    "amount": [100, 200, 150]
})

# Merge using left_on and right_on
merged_sales = sales.merge(
    products,
    left_on="___",
    right_on="product_id"
)
print("\\nMerged sales with products:")
print(merged_sales)
print("‚úì merge() with different column names works")

print("\\nüéâ Koan complete! You can now merge DataFrames like pandas.")

In [ ]:
# Koan 308: String Methods (.str accessor)
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create a DataFrame with string data
psdf = ps.DataFrame({
    "name": ["  Alice  ", "BOB", "charlie", "DIANA"],
    "email": ["alice@example.com", "bob@test.com", "charlie@demo.org", "diana@example.com"]
})

# Exercise (fill in the blanks)
# Convert to lowercase
names_lower = psdf["name"].str.___()
print("Lowercase names:")
print(names_lower)
print("‚úì .str.lower() works")

# Convert to uppercase
names_upper = psdf["name"].str.___()
print("\\nUppercase names:")
print(names_upper)
print("‚úì .str.upper() works")

# Strip whitespace
names_clean = psdf["name"].str.___()
print("\\nCleaned names (stripped):")
print(names_clean)
assert "  " not in names_clean.tolist()[0], "Whitespace should be removed"
print("‚úì .str.strip() removes whitespace")

# Check if string contains a pattern
has_example = psdf["email"].str.___(\"example\")
print("\\nEmails containing 'example':")
print(has_example)
example_count = has_example.sum()
assert example_count == 2, f"Expected 2 emails with 'example'"
print("‚úì .str.contains() works")

# Extract domain from email (split on @)
domains = psdf["email"].str.split("@").str.___(-1)
print("\\nEmail domains:")
print(domains)
print("‚úì .str.split() and indexing works")

# String length
name_lengths = psdf["name"].str.___()
print("\\nName lengths:")
print(name_lengths)
print("‚úì .str.len() works")

print("\\nüéâ Koan complete! You can now manipulate strings with .str accessor.")

In [ ]:
# Koan 309: Type Conversion and Casting
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create a DataFrame with mixed types
psdf = ps.DataFrame({
    "id": ["1", "2", "3", "4"],  # String that should be int
    "price": ["10.5", "20.3", "15.7", "30.2"],  # String that should be float
    "quantity": [10, 20, 15, 30]  # Already int
})

print("Original DataFrame:")
print(psdf)
print("\\nOriginal dtypes:")
print(psdf.dtypes)

# Exercise (fill in the blanks)
# Convert string to integer
psdf["id"] = psdf["id"].astype(___)
print("\\nAfter converting id to int:")
print(psdf.dtypes["id"])
assert psdf.dtypes["id"] == "int64" or "int" in str(psdf.dtypes["id"]), "id should be integer"
print("‚úì Converted to int")

# Convert string to float
psdf["price"] = psdf["price"].astype(___)
print("\\nAfter converting price to float:")
print(psdf.dtypes["price"])
assert "float" in str(psdf.dtypes["price"]), "price should be float"
print("‚úì Converted to float")

# Convert to string
psdf["quantity_str"] = psdf["quantity"].astype(___)
print("\\nCreated quantity_str:")
print(psdf[["quantity", "quantity_str"]])
assert psdf.dtypes["quantity_str"] == "object" or "str" in str(psdf.dtypes["quantity_str"]), "Should be string"
print("‚úì Converted to string")

# Check current dtypes
print("\\nFinal dtypes:")
print(psdf.___)
print("‚úì All conversions complete")

# Perform calculations with converted types
total_value = (psdf["price"] * psdf["quantity"]).sum()
print(f"\\nTotal value: \${total_value:.2f}")
assert total_value > 0, "Total value should be calculated"
print("‚úì Calculations work with converted types")

print("\\nüéâ Koan complete! You can now convert data types.")

In [ ]:
# Koan 310: Converting to Spark and Pandas
# Category: Pandas API on Spark

# Setup
import pyspark.pandas as ps

# Create a Pandas-on-Spark DataFrame
psdf = ps.DataFrame({
    "name": ["Alice", "Bob", "Charlie"],
    "score": [85, 92, 78],
    "grade": ["B", "A", "C"]
})

print("Pandas-on-Spark DataFrame:")
print(psdf)

# Exercise (fill in the blanks)
# Convert to PySpark DataFrame
spark_df = psdf.___()
print("\\nConverted to PySpark DataFrame:")
print(f"Type: {type(spark_df)}")
assert "pyspark.sql" in str(type(spark_df)), "Should be PySpark DataFrame"
print("‚úì Converted to PySpark DataFrame")

# Now we can use PySpark operations
from pyspark.sql.functions import col
spark_filtered = spark_df.filter(col("score") > 80)
print(f"Filtered count: {spark_filtered.count()}")
print("‚úì PySpark operations work")

# Convert PySpark back to Pandas-on-Spark
psdf2 = spark_df.___()
print("\\nConverted back to Pandas-on-Spark:")
print(f"Type: {type(psdf2)}")
print("‚úì Converted back to Pandas-on-Spark")

# Convert to regular Pandas (collects data to driver)
# WARNING: Only do this for small datasets!
pandas_df = psdf.___()
print("\\nConverted to regular Pandas:")
print(f"Type: {type(pandas_df)}")
assert "pandas" in str(type(pandas_df)).lower(), "Should be pandas DataFrame"
print("‚úì Converted to regular Pandas")

# Use regular pandas operations
print("\\nPandas describe:")
print(pandas_df.describe())
print("‚úì Regular pandas operations work")

print("\\nüéâ Koan complete! You can convert between Spark and Pandas.")